// Variables and Mixins
@import "./variables";

// Components
@import "./components/header";
@import "./components/product-card";
@import "./components/filters";
@import "./components/modal";
@import "./components/product-detail";

// Pages
@import "./pages/home";
@import "./pages/admin-login";
